body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;
}

body h1{
    border: 1px solid black ;
    border-radius: 30px;
}